# general
tqdm
pip>=24.0
pydantic
importlib_resources
requests
toml
tomli
tomlkit
cryptography
BeautifulSoup4
lxml
keyring
python-jsonpath

# Excel
openpyxl
pandas
xlsxwriter
odfpy
xlrd

# SQL
sqlalchemy
pymysql
sqlmodel

# OCR
ddddocr

# HUGE: GUI
PySide2

# Web
flask
flask-cors
flask-wtf
pytz
wtforms
python-dateutil
uvicorn
fastapi

# V20
varname
